@font-face {
  font-family: Roboto Slab Regular;
  src: url('fonts/roboto-slab-regular.ttf');
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/open-sans.ttf'), url('fonts/open-sans.woff');;
}

body {
	padding: 0;
	margin: 0;
}

h1,h2 {
	font-family: Open Sans;
}

h2 {
	margin: 0;
}
p {
	font-family: Roboto Slab Regular;
	font-size: .8em;
	color: #333;
}

.container {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.site-title  {
	font-size: 40px;
	letter-spacing: 5px;
	text-align: center;
}

hr {
	width: 250px;
	border: 2px solid #ccc;
	border-radius: 2px;
}

.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.about__text, .about__photo {
	flex-basis: 100%;
}
.show-photo {
	color: #157fc4;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
}

.my-photo {
	border-radius: 4px;
	display: none;
}

img {
	width: 100%;
}

.show {
	display: block;
}

.sites {
	display: flex;
	flex-wrap: wrap;
}

.site {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	flex-basis: 100%;
}

.site:nth-child(1), .site:nth-child(2), .site:nth-child(3) {
	margin-bottom: 20px;
}

.site__screenshot, .site__description {
	flex-basis: 100%;
	box-sizing: border-box;
}

.site__description {
	order: 1;
}

.site__screenshot {
	order: 2;
}

.small {
	font-size: 65%;
}

a {
	text-decoration: none;
	color: #157fc4;
}

@media (min-width: 700px) {
	.site {
		flex-wrap: nowrap;
	}
	
	.site__screenshot, .site__description {
		flex-basis: 50%;
	}
	
	.site:not(:last-child) {
		margin-bottom: 20px;
	}
	
	.site__screenshot {
		order: 1;
		flex-basis: 50%;
	}
	
	.site__description {
		order: 2;
	}
	
	.site__description {
		padding: 0 10px;
		flex-basis: 50%;
		box-sizing: border-box;
		padding: 0 10px;
	}
}

@media (min-width: 900px) {
	.about {
		flex-wrap: nowrap;
	}
	
	.my-photo {
		display: block;
	}
	
	.show-photo {
		display: none;
	}
	
	.about__text {
		flex-basis: 66%;
	}
	
	.about__photo {
		flex-basis: 34%;
		padding: 0 0 10px 10px;
		box-sizing: border-box;
	}	
}

@media (min-width: 1000px) {	
	.site {
		flex-basis: 50%;
	}
	
	.site:nth-child(3) {
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
		margin: 20px auto;
	}
}