@font-face {
  font-family: Roboto Slab Regular;
  src: url('fonts/roboto-slab-regular.ttf');
}

@font-face {
  font-family: Open Sans;
  src: url('fonts/open-sans.ttf');
}

body {
	padding: 0;
	margin: 0;
}

h1,h2 {
	font-family: Open Sans;
}

p {
	font-family: Roboto Slab Regular;
	font-size: .8em;
	color: #333;
}

.container {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.site-title  {
	font-size: 40px;
	letter-spacing: 5px;
	text-align: center;
}

hr {
	width: 250px;
	border: 2px solid #ccc;
	border-radius: 2px;
}
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show-photo {
	color: #157fc4;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
}

.my-photo {
	border-radius: 4px;
	display: none;
}

img {
	width: 100%;
}
.show {
	display: block;
}

.sites {
	display: flex;
	flex-flow: column wrap;
}

.site {
	margin-top: 20px;
	display: flex;
	width: 100%;
	flex-flow: column wrap;
	flex: 0 1 100%;
}

.site__screenshot, .site__description {
	flex: 1 1 50%;
}

.site__description {
	order: 1;
}

.site__screenshot {
	order: 2;
}
.small {
	font-size: 65%;
}
a {
	text-decoration: none;
	color: #157fc4;
}

@media (min-width: 700px) {
	.site {
		flex-direction: row;
	}
	.site__screenshot {
		order: 1;
	}
	.site__description {
		order: 2;
	}
	.site__description {
		padding: 0 10px;
		box-sizing: border-box;
	}
}
@media (min-width: 900px) {
	.about {
		flex-direction: row;
	}
	.my-photo {
		display: block;
	}
	.show-photo {
		display: none;
	}
	.about__text {
		flex: 1 1 800px;
	}
	.about__photo {
		flex: 1 1 400px;
		padding: 0 0 10px 10px;
	}	
}

@media (min-width: 1000px) {
	.sites {
		flex-direction: row;
	}
	.site {
		flex-basis: 50%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
		margin: 20px auto;
	}
}