@font-face {
  font-family: Lato;
  src: url(../fonts/lato-medium.woff2);
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: column wrap;
	min-height: 100vh;
	width: 100%;
}

header {
	background-color: #000;
}

.container {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

.header-line {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

img {
	width: 100%;
}

.header-text {
	font: 600 16px/12px Helvetica;
	color: #fff;
	text-align: right;
}

nav, footer {
	background-color: #404040;
}

.menu-line {
	padding: 0 20px;
	position: relative;
}

.toggle-line {
	height: 44px;
	position: relative;
}

.menu-toggle {
	background-color: #404040;
	display: block;
	position: absolute;
	width: 25px;
	height: 19px;
	top: 12.5px;
	left: 20px;
	cursor: pointer;
}

.menu-toggle_line {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	height: 3px;
	background-color: #fff;
	transition: .25s ease-in-out;
}

.menu-toggle_line:nth-child(1) {
	top: 0;
}

.menu-toggle_line:nth-child(2), .menu-toggle_line:nth-child(3) {
	top: 8px;
}

.menu-toggle_line:nth-child(4) {
	top: 16px;
}

.opened .menu-toggle_line:nth-child(1), .opened .menu-toggle_line:nth-child(4) {
  width: 0%;
}
.opened .menu-toggle_line:nth-child(2) {
  transform: rotate(45deg);
}
.opened .menu-toggle_line:nth-child(3) {
  transform: rotate(-45deg);
}

.menu {
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
}

.menu.active {
	display: block;
}

.menu, .sub-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	background-color: #404040;
}

.menu__item a {
	font: 14px Lato, sans-serif;
	padding: 15px 20px;
	letter-spacing: 2px;
	color: #ccc;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}

.menu__item:hover {
	background-color: #303030;
	color: #fff;
}

.menu  .sub-menu {
	background-color: #404040;
	padding: 0;
}

.sub-menu .menu__item a {
	padding-left: 40px;
}

.slider, main {
	flex: 1;
}

.slider .container {
	padding-top: 40px;
}

.bxslider {
	margin: auto;
}

h1, h3, p, td {
	font-family: Geneva, Verdana, sans-serif;
	color: #404040;
}

p {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
    border-spacing: 0;
	margin-bottom: 40px;
}

table td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
}

.left {
	padding-left: 35px;
}

.footer-line {
	padding: 20px;
	text-align: right;
}

.logo-instagram, .logo-tripadvisor {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-position: 0 0;
}

.logo-instagram {
	background-image: url(../images/logo-instagram.png);
	margin-right: 20px;
}

.logo-tripadvisor {
	background-image: url(../images/logo-tripadvisor.png);
}

.logo-instagram:hover, .logo-tripadvisor:hover {
	background-position: 0 32px;
	transform: scale(1, 1) translateX(0);
}

@media (min-width: 600px) {	
	.header-line {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.header-logo {
		flex: 1 1 350px;
	}
	.header-contacts {
		flex: 1 1 400px;
	}
	.header-text {
		line-height: 14px;
	}
}

@media (min-width: 800px) {
	.menu-toggle, .toggle-line {
		display: none;
	}
	.menu {
		display: block;
		position: static;
	}
	.menu__item {
		display: inline-block;
		position: relative;
	}
	.menu__item a {
		font-size: 12px;
	}
	.menu  .sub-menu {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		display: none;
		position: absolute;
		z-index: 99999;
	}
	.sub-menu .menu__item  {
		display: block;
		margin: 0;
		text-transform: none;
		width: 200px;
	}
	.menu__item:hover  .sub-menu {
		display: block;
	}
}

@media (min-width: 900px) {
	.container {
		width: 900px;
		margin: 0 auto;
	}
	.header-line {
		padding: 20px 0;
	}
	.header-text {
		font-size: 18px;
		line-height: 16px;
	}
	.slider {
		display: flex;
		align-items: center;
	}

	.slider .container {
		padding-top: 0;
	}
}