body {
	padding: 0;
	margin: 0;
}

nav {
	position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f2f8;
    box-shadow: 0 0 20px #000;
    width: 100%;
    z-index: 99;
	height: 165px;
}

nav .container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

header {
	margin-top: 165px;
	background: url(images/background-1.jpg) center no-repeat;
	background-size: cover;
}

.container {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.menu-icon {
	margin: 15px 0;
	order: 3;
	cursor: pointer;
}

.menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

.open-menu:checked + .menu {
	display: block;
	position: absolute;
	top: 165px;
	left: 0;
	right: 0;
	padding-left: 10px;
	background-color: #f1f2f8;
	border-top: 2px solid #ccc;
}

.menu__item {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
}

.phone {
	order: 1;
}

.search {
	order: 2;
}

#text-to-find {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #061405;
    margin-right: 10px;
    font-size: 13px;
}

.search__image {
	vertical-align: middle;
	cursor: pointer;
}

span.highlight {
    background-color: #c6d9db;
}

h1, h2, h3, h4, p, li {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1f3c1c;
}

p {
	font-size: 16px;
}

.phone-number {
	font-size: 20px;
	font-weight: 600;
}

.title {
	font-size: 36px;
	color: #f1f2f8;
}

.title-description {
	font-size: 18px;
	color: #f1f2f8;
	font-weight: 600;
}

.elements {
	display: flex;
	flex-flow: column wrap;
}

.element {
	flex-basis: 100%;
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 40px;
	text-align:center;
}

.element__text p {
	margin-top: 0;
}

.image-responsive {
	width: 100%;
	max-width: 150px;
}

.menu-program {
	background: url(images/background-2.jpg) center no-repeat;
	background-size: cover;
}

.button {
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #048710;
    color: #f1f2f8;
    border-radius: 5px;
    font-weight: 600;
	cursor: pointer;
	border: 0;
}

.big-button {
	padding: 20px 30px;
}

.small-button {
	padding: 10px 20px;
	font-size: 14px;
}

.request-form {
	display: none;
}

.show-form {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.75);
}

.request-form__content {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 539.89px;
	width: calc(100% - 40px);
	position: absolute;
	padding: 0 20px 40px;
	border-radius: 10px;
    background-color: #f1f2f8;
	box-sizing: border-box;	
}

.request-form__content h2 {
	text-align: center;
	margin-bottom: 1.5em;
	font-size: 30px;
}
	
.request-form__label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #1f3c1c;
	font-weight: 600;	
	display: block;
	width: 120px;
	margin-bottom: 20px;
}

.form__row:not(:last-child) {
	margin-bottom: 20px;
}

.request-form__input, .request-form__textarea {
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #061405;
	margin-right: 10px;
	font-size: 13px;
	width: 97%;
}
.request-form__textarea {
	max-width: 97%;
	min-width: 97%;
}

.request-form__textarea {
	height: 90px;
}

.request-form__content .button {
	margin: 10px calc(100%/2 - 166px/2);
}

.close-icon {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	background-image: url(images/close-icon.png);
}

.items {
	display: flex;
	flex-flow: column wrap;
}

.item {
	text-align: center;
}

.item__text p {
	font-weight: 600;
}

.menu-team {
    background: url(images/background-4.jpg) center no-repeat;
    background-size: cover;
}

.our-projects {
	margin-top: 40px;
}

footer {
	background-color: #1f3c1c;
}

footer p, footer a {
    color: #f1f2f8;
}


.footer-logo__item {
	display: inline-block;
}

.footer-logo .footer-logo__item:first-child {
	margin-right: 10px;
}

@media (min-width: 500px) {
	.element {
		flex-direction: row;
		text-align: left;
	}
	.element__image {
		flex: 1 1 0;
		text-align: center;
	}
	.element__text {
		flex: 2 1 0;
	}
	.element__text {
		padding-left: 15px;
	}
}

@media (min-width: 600px) {
	nav {
		height: 118px;
	}
	nav .container {
		flex-direction: row;
	}
	header {
		margin-top: 118px;
	}
	.menu-icon {
		flex-basis: 100%;
		margin: 7px 0 15px;
		text-align: center;
	}
	.open-menu:checked + .menu {
		top: 118px;
	}
	.phone {
		margin-right: 20px;
	}
	.phone-number {
		font-size: 16px;
	}
	.search__image {
		margin-left: 10px;
	}
	.items {
		flex-direction: row;
	}
	.item {
		flex-basis: 50%;
	}
	.footer-contacts, .footer-logo {
		display: inline-block;
		vertical-align: top;
	}
	.footer-logo {
		float: right;
	}
}


@media (min-width: 700px){
	.request-form__content {
		padding: 0 40px 40px;
		height: 447.89px;
		width: 626px;
	}
	.request-form__label {
		display: inline-block;
		vertical-align: top;
	}
	.request-form__input {
		width: 400px;
	}
	.request-form__textarea {
		max-width: 400px;
		min-width: 400px;
	}
	.menu-contacts .button {
		margin-left: 123px;
	}
}

@media (min-width: 800px) {
	.title {
		font-size: 50px;
	}
	.title-description {
		font-size: 20px;
	}
	.elements {
		flex-direction: row;
	}
	.element {
		flex-basis: calc(50% - 15px);
		align-items: flex-start;
	}
	.element:nth-child(even) {
		padding-left: 15px;
	}
	.element:nth-child(odd) {
		padding-right: 15px;
	}
	.element__text p {
		font-size: 18px;
	}
	.element__text h4 {
		margin-top: 0;
	}
}

@media (min-width: 980px) {
	nav {
		height: 62px;
	}
	header {
		margin-top: 62px;
	}
	.container {
		width: 980px;
		margin: 0 auto;
	}
	.menu {
		display: block;
	}
	.open-menu:checked + .menu {
		position: relative;
		border: 0;
		padding: 0;
		top: 0;
	}
	.menu-icon {
		display: none;
	}
	.menu__item {
		list-style: none;
		display: inline-block;
		margin-right: 20px;
		font-size: 20px;
		color: #1f3c1c;
		border: 0;
	}
	#text-to-find {
		width: 200px;
	}
	.title {
		font-size: 56px;
	}
	.title-description {
		font-size: 26px;
	}
	h2 {
		font-size: 30px;
	}
	.item {
		flex-basis: 25%;
	}
}